/*Gerais*/

body {
  font-family: 'Roboto', sans-serif;
}

.row {
  margin: 0;
}

.container {
  padding: 70px 0;
}

p,
li {
  color: #444;
  font-size: 14px;
}

/*Barra de navegação*/

header,
.navbar {
  background-color: #353D41;
}

#nav-container {
  padding-top: 0;
  padding-bottom: 0;
}

#logo {
  width: 75px;
  padding-left: 2rem;
}

.navbar-brand {
  padding: 0;
  color: #fff;
}

.navbar-brand:hover {
  color: #fff;
}

#navbar-links a {
  color: #fff;
}

#navbar-links a:hover {
  color: #65daf9;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 1rem .8rem;
}

/*Slider*/
.container-fluid {
  padding: 0;
}

#mainSlider .carousel-inner,
#mainSlider .carousel-item {
  height: 80vh;
}

#mainSlider .carousel-caption {
  top: 30%;
}


#mainSlider .carousel-caption h2 {
  font-size: 50px;
  margin-bottom: 30px;
}

#mainSlider .carousel-caption p {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 80px;
  color: #fff;
}

.main-btn {
  background-color: #65daf9;
  color: #fff;
  text-transform: uppercase;
  width: 200px;
  height: 60px;
  padding: 10px 20px;
  border-radius: 30px;
  border: 3px solid transparent;
  text-decoration: none;
  transition: .5s;
}

.main-btn:hover {
  color: #fff;
  background-color: transparent;
  border-color: #65DAF9;
}

.carousel-indicators .active {
  background-color: #65DAF9;
}

/*Sobre a empresa*/
#about-area {
  background-color: #f9f9f9;
}

.main-title {
  color: #444;
  margin: 0 0 65px 0;
  font-size: 40px;
  text-align: center;
}

.col-md-12 .main-title::after {
  content: "";
  border-top: 2px solid #333;
  width: 15%;
  margin-top: 50px;
  position: absolute;
  left: 42.5%;
}

.about-title {
  font-size: 16px;
  color: #444;
  text-transform: uppercase;
  font-weight: bolder;
}

#about-list {
  list-style: none;
  padding-left: 0;
}

#about-list li {
  line-height: 30px;
}

#about-list i {
  color: #65DAF9;
  margin-right: 15px;
}

/*Serviços*/

.service-box {
  text-align: center;
  margin-bottom: 50px;
}

.service-box i,
.service-box h4 {
  transition: .5s;
}

.service-box i {
  font-size: 36px;
  margin-bottom: 20px;
  color: #444;
}

.service-box h4 {
  font-size: 24px;
  margin-bottom: 20px;
}

.service-box:hover>i,
.service-box:hover>h4 {
  color: #65DAF9;
}

/*Dados*/

.circle-box div {
  padding: 0 40px;
}

.progessbar-text {
  font-weight: bold;
  font-size: 32px;
}

#data-area p {
  color: #fff;
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}

/*Time*/
.card-body {
  text-align: center;
}

/*Trabalhe conosco*/
#apply-area {
  height: 500px;
}

#apply-area .container-fluid,
#apply-area .row {
  height: 100%;
}

#apply-area .apply-box {
  text-align: center;
  padding: 70px 50px;
}

#company-img {
  background-image: url('../img/empresa.jpg');
  background-size: cover;
  height: 100%;
}

#pattern-img h4,
#pattern-img p {
  color: #fff;
}

#pattern-img h4 {
  margin-top: 8%;
  margin-bottom: 20px;
  text-transform: uppercase;
}

#pattern-img {
  margin-bottom: 20px;
}

#apply-btn {
  display: block;
  height: auto;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background-color: transparent;
  border-color: #fff;
}

#apply-btn:hover {
  border-color: #65DAF9;
  background-color: #65DAF9;
}

/*portifólio*/

.project-box {
  margin-bottom: 30px;
}

#filter-btn-box {
  margin-bottom: 50px;
  text-align: center;
}

#portifolio-area .filter-btn {
  color: #444;
  border: 1px solid #444;
  background-color: transparent;
  text-transform: none;
  margin: 0 15px;
  min-width: 100px;
  width: auto;
  height: 40px;
  line-height: 40px;
  padding: 0 40px;
}

#portifolio-area .filter-btn.active,
#portifolio-area .filter-btn:hover {
  color: #fff;
  background-color: #65DAF9;
  border-color: #65DAF9;
}

/*News latter*/
#news-area {
  text-align: center;
  background-color: #F9F9F9;
}

#news-area p {
  font-size: 18px;
  margin-bottom: 40px;
}

#email-input {
  border-radius: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px solid #65DAF9;
  display: inline;
  box-sizing: border-box;
  width: 40%;
  height: 40px;
}

#news-btn {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid #65DAF9;
  background-color: #65DAF9;
  text-transform: uppercase;
  color: white;
  height: 40px;
  padding: 0 30px;
  margin-left: -130px;
  position: absolute;
  transition: .5s;
}

#news-btn:hover {
  background-color: #fff;
  color: #65DAF9;
}

/*Call to action*/
#call-area {
  background-color: #65DAF9;
  text-transform: uppercase;
}

#call-area .container {
  padding: 40px 100px;
}

#call-area .row {
  display: block;
  text-align: center;
}

#call-area p {
  color: #fff;
  font-weight: bolder;
  font-size: 19px;
  width: auto;
  letter-spacing: 2px;
  margin-bottom: 0;
  display: inline;
  height: 60px;
  line-height: 60px;
}

#call-area #call-btn {
  background-color: #fff;
  color: #65DAF9;
  font-weight: bold;
  font-size: 19px;
  margin-left: 30px;
  width: auto;
  letter-spacing: 2px;
}

/*Footer*/
#contact-area {
  text-align: center;
}

.contact-box {
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #3EC1D5;
}

.contact-box i {
  color: #444;
  border: solid 1px #444;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 24px;
  margin-bottom: 20px;
}

.contact-box p {
  font-size: 14px;
}

.contact-title {
  font-weight: bolder;
  color: #3EC1D5;
}

#msg-box p {
  font-size: 24px;
}

#contact-form input[type=text],
#contact-form input[type=email],
#contact-form textarea {
  margin-bottom: 15px;
  border-radius: 0;
}

#contact-form .main-btn {
  width: 130px;
  height: 50px;
}

#contact-form .main-btn:hover {
  color: #3EC1D5;
}

/*Copy*/

#copy-area {
  background-color: #f1f1f1;
}


#copy-area .container {
  padding: 10px 0;
  text-align: center;
}

#copy-area .container p {
  margin-bottom: 0;

}

#copy-area .container a {
  font-weight: bolder;
  color: #444;
  text-decoration: none;
}

#copy-area .container a:hover {
  color: #3EC1D5;
}

/*Responsive*/
@media screen and (max-width: 768px) {

  /* geral */
  .container {
    padding: 20px 0;
  }

  /* slider */
  #mainSlider .carousel-inner,
  #mainSlider .carousel-item {
    height: auto;
  }

 

  #mainSlider .carousel-caption h2 {
    font-size: 28px;
  }

  #mainSlider .carousel-caption p {
    font-size: 18px;
    margin-bottom: 40px;
  }

  .carousel-caption {
    left: 10%;
    right: 10%;
  }

  /* about */
  #about-area img {
    margin-top: 100px;
  }

  /* data */
  .circle-box div {
    padding: 0 10px;
  }

  #data-area p {
    font-size: 16px;
  }

  /* team */
  .card-title {
    font-size: 14px;
  }

  .card-text {
    font-size: 12px;
  }

  /* apply */
  #apply-area .apply-box {
    padding: 50px 25px;
  }

  /*Portifolio */
  #portifolio-area .filter-btn {
    margin: 0 8px;
    padding: 0 20px;
  }

  /* news */
  #news-area p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  #email-input {
    width: 75%;
  }

  #call-area {
    margin-top: 30px;
  }

  #call-area .container {
    padding: 30px;
  }

  #call-area p,
  #call-area #call-btn {
    font-size: 16px;
  }

}

@media screen and (max-width: 425px){

  /*Slider*/
  #mainSlider{
    margin-top: 52px;
  }

  #mainSlider .carousel-caption{
    top: 5%;
  }

  #mainSlider .carousel-caption h2{
    font-size: 18px;
    margin-bottom: 40px;
  }
  #mainSlider .carousel-caption p{
   display: none;
  }

  .carousel-caption .main-btn{
    font-size: 10px;
  }
  /*About*/
  .main-title{
    font-size: 30px;
  }
  #about-area img{
    margin-top: 0;
    margin-bottom: 30px;
  }

  /*data*/
  .circle-box{
    width: 50%;
  }

  /*team*/
  #team-area .col-md-3{
    width: 50%;
    margin-bottom: 30px;
  }

  /*Apply*/
  #apply-area{
    height: auto;
  }
  #company-img{
    display: none;
  }

  /*Filter*/

  #portifolio-area .filter-btn{
    margin-bottom: 10px;
  }
  .project-box{
    width: 50%;
  }

  /*News*/
  #news-area .main-title{
    font-size: 24px;
  }

  #news-area p{
    font-size: 16px;
  }
  #email-input{
    width: 80%;
  }

  /*call o action*/
  #call-area p , #call-area  #call-btn{
    font-size: 13px;
    letter-spacing: 0;
    margin: 0;
    width: 50%;
  }

  /*Contact*/
  .contact-box{
    border: none;
    margin-bottom: 0;
  }
}